$popover_body_color: rgba(90, 189, 80, 0.95)
$popover_title_color: rgba(255, 255, 255, 0.95)

#pop-holder
  position: absolute

.popover-title
  border-style: none
  background: $popover_title_color
  font-size: 15px
  pointer-events: none

.popover
  border-style: none
  background: $popover_body_color
  pointer-events: none

.popover.right > .arrow:after
  border-right-color: $popover_body_color
  pointer-events: none